.header {
  background: #2b324c;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.header__logo {
  height: 50px;
  margin-left: 20px;
}

.navigation {
  margin-left: 40px;
}
.navigation__list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navigation__element {
  margin: 5px;
}
.navigation__link {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.navigation__link:hover {
  color: #c0c6db;
}

.navigation__link:focus {
  color: #c0c6db;
  text-decoration: underline;
}
